page-home {
    ion-content {
        background-image: url(../../assets/imgs/background_blue.jpg);
    }
    h3 {
        width: 308px;
        height: 62px;
    }
    .top {
        display:flex;
        justify-content: center;
    }
}
